mat-paginator {
  margin-top: 30px;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.add-transaction-button {
  align-self: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
}

.apply-filter-button {
  margin-right: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}
