<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>


    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>


    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div> -->

<div>
  <mat-table [dataSource]="transactions">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let transaction">{{
        transaction.date | date
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sender">
      <mat-header-cell *matHeaderCellDef>Sender</mat-header-cell>
      <mat-cell *matCellDef="let transaction"
        >{{ transaction.sender.firstName }}
        {{ transaction.sender.lastName }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="recipient">
      <mat-header-cell *matHeaderCellDef>Recipient</mat-header-cell>
      <mat-cell *matCellDef="let transaction"
        >{{ transaction.recipient.firstName }}
        {{ transaction.recipient.lastName }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
      <mat-cell *matCellDef="let transaction">{{
        transaction.amount
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
      <mat-cell *matCellDef="let transaction">{{
        transaction.currency
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
      <mat-cell *matCellDef="let transaction">{{
        transaction.comments
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let transaction">{{
        transaction.status
      }}</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="[
        'date',
        'sender',
        'recipient',
        'amount',
        'currency',
        'comments',

        'status'
      ]"
    ></mat-header-row>
    <mat-row
      *matRowDef="
        let transaction;
        columns: [
          'date',
          'sender',
          'recipient',
          'amount',
          'currency',
          'comments',
          'status'
        ]
      "
    ></mat-row>
  </mat-table>
</div>
